<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Bank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

  <!-- Header secion -->

    <header class="text-gray-600 body-font">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
          <img src="https://iconarchive.com/download/i62983/dapino/medical/blood-drop.ico" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-white-500 rounded-full" viewBox="0 0 24 24">
          </img>
          <span class="ml-3 text-xl">Blood Bank</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900">Home</a>
            <a class="mr-5 hover:text-gray-900" style="padding-left: .5rem;" href="{{ url_for('Search') }}">Search</a>
            <a class="mr-5 hover:text-gray-900"><div class="dropdown">
                <button class="dropbtn">Services</button>
                <div class="dropdown-content">
                  <a href="{{ url_for('donoreg') }}">Donor Register</a>
                  <a href="{{ url_for('Appointment') }}">Appointment</a>
                  <a href="{{ url_for('BloodStat') }}">Blood Status</a>
                </div>
              </div></a>

          </nav>
           <button  name="toplogin "class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"> Login</button></form>
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
          </a>
          
        </div>
    </header>
    

    <!-- Login and register section -->

    <section class="text-gray-600 body-font" style="padding-left: 15rem;">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0" >
            <img class="object-cover object-center rounded" alt="Main Logo" src="https://images.unsplash.com/photo-1615461065929-4f8ffed6ca40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
          </div>
          <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Donate Blood
              <br class="hidden lg:inline-block">Save Life.
            </h1>
            <p class="mb-8 leading-relaxed">Lets Unite and make the world a better place to live.</p>
            <div class="flex justify-center">
              <form action="{{ url_for('LoginButton')}}" method="post"> <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg">Login</button></form>
              <form action="{{ url_for('RegisterButton')}}" method="post"> <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Register</button></form>
            </div>
          </div>
        </div>
    </section>

    <!-- HR section -->
    <div class="flex mt-6 justify-center">
      <div class="w-48 h-1 rounded-full bg-red-500 inline-flex"></div>
    </div>
      
    <!-- Vision Section -->
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center" >
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900" style="padding-left: 15rem;">OUR VISION</h1>
          <p class="mb-8 leading-relaxed" style="padding-left: 15rem;">To enhance the well being of patients in our service area by assuring a reliable and economical supply of the safest possible blood, by providing innovative hemotherapy services, and by promoting research and awareness in transfusion medicine. We will increase our active donor base and collection levels. We will manage our resources effectively and responsibly.</p>
        </div>
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6" style="padding-left: -5rem;">
                <img class="object-cover object-center rounded" alt="vision" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/182FF/production/_107317099_blooddonor976.jpg">
            </div>
        </div>
    </section>

    <!-- HR section -->
    <div class="flex mt-6 justify-center">
      <div class="w-48 h-1 rounded-full bg-red-500 inline-flex"></div>
    </div>


    <!-- Blood Bank section -->
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-20">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Blood Bank</h1>
          <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">“Bring a life back to power. Make blood donation your responsibility.”</p>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-red-500 inline-flex"></div>
          </div>
        </div>
        <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
          <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
            <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-white-100 text-indigo-500 mb-5 flex-shrink-0">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaRQT-Gg0IhiqBBWhMkwLNxFd4CsKxsBpk7Q&usqp=CAU" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              
            </img>
            </div>
            <div class="flex-grow">
              <h2 class="text-gray-900 text-lg title-font font-medium mb-3">What is a Blood Bank?</h2>
              <p class="leading-relaxed text-base">A place where blood is collected from donors, typed, separated into components, stored, and prepared for transfusion to recipients. A blood bank may be a separate free-standing facility or part of a larger laboratory in a hospital.</p>
            </div>
          </div>
          <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
            <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-white-100 text-indigo-500 mb-5 flex-shrink-0">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaRQT-Gg0IhiqBBWhMkwLNxFd4CsKxsBpk7Q&usqp=CAU" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              </img>
            </div>
            <div class="flex-grow">
              <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Who receives blood?</h2>
              <p class="leading-relaxed text-base">Accident victims, people undergoing surgery and patients receiving treatment for <a href="https://www.medicinenet.com/leukemia/article.htm" target="__blank" style="color: red; text-decoration: underline;">leukemia</a>, cancer or other diseases, such as <a href="https://www.medicinenet.com/sickle_cell/article.htm" target="__blank" style="color: red; text-decoration: underline;">sickle cell disease</a> and <a href="https://www.medicinenet.com/beta_thalassemia/article.htm" target="__blank" style="color: red; text-decoration: underline;">thalassemia</a>, all utilize blood. Over 20 million units of blood components are transfused every year in the US.</p>
              
            </div>
          </div>
          <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
            <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-white-100 text-indigo-500 mb-5 flex-shrink-0">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaRQT-Gg0IhiqBBWhMkwLNxFd4CsKxsBpk7Q&usqp=CAU" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              </img>
            </div>
            <div class="flex-grow">
              <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Giving blood to yourself</h2>
              <p class="leading-relaxed text-base">Patients scheduled for surgery may be eligible to donate blood for themselves, a process known as autologous blood donation. In the weeks before non-emergency surgery, an autologous donor may be able to donate blood that will be stored until the surgical procedure.</p>
  
            </div>
          </div>
    </section>

    <!-- HR section -->

    <div class="flex mt-6 justify-center">
      <div class="w-48 h-1 rounded-full bg-red-500 inline-flex"></div>
    </div>


    <!-- Donation info who can -->
    <section class="text-gray-600 body-font" style="padding-left: 15rem;">
      <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0" >
          <img class="object-cover object-center rounded" alt="Main Logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFodKzywu5FXM3m4qA9A3g7MbGf3Sg80qYOHNqYMYc0mEokOTOOs0Elpjk3PNTlh9LSd8&usqp=CAU">
        </div>
        <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center" style="padding-left: 0;">
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Who can donate blood?
            
          </h1>
          <p class="mb-8 leading-relaxed">The age of the donor must be above 18 years and below 65 years of age. He/she must have a haemoglobin count that is not less than 12.5 g/dl. The Weigh should not less than 45 kgs. <br> One should have a normal body temperature at the time of donation.
            <br>&emsp; &emsp; You should always drink lots of water before the donation. Also, keep in mind that you <br> should take a well-balanced meal prior to and after donating blood. This will keep you healthy <br> and fit.
          </p>
        </div>
      </div>
  </section>

    <!-- HR section -->
    <div class="flex mt-6 justify-center">
      <div class="w-48 h-1 rounded-full bg-red-500 inline-flex"></div>
    </div>


    <!-- Reason to donate section  -->
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-20">
          <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Reason Why you should Donate Blood</h1>
          <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">“Blood Donation can cost you Nothing,<br> But it can mean the <strong>WORLD</strong>  to Someone in <strong>NEED.”</strong></p>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-red-500 inline-flex"></div>
          </div>
        </div>
        <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
          <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
            <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-white-100 text-indigo-500 mb-5 flex-shrink-0">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaRQT-Gg0IhiqBBWhMkwLNxFd4CsKxsBpk7Q&usqp=CAU" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              
            </img>
            </div>
            <div class="flex-grow">
              <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Development of new red blood cells</h2>
              <p class="leading-relaxed text-base">Within the first 48 hours of blood donation, the donor's body starts replenishing the lost red blood cells. The replenishment process helps in staying healthy and productive at work.</p>
            </div>
          </div>
          <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
            <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-white-100 text-indigo-500 mb-5 flex-shrink-0">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaRQT-Gg0IhiqBBWhMkwLNxFd4CsKxsBpk7Q&usqp=CAU" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              </img>
            </div>
            <div class="flex-grow">
              <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Reducing risk of heart disease</h2>
              <p class="leading-relaxed text-base">As per several studies and reports, when there is a rise in the iron level in blood, it raises the chances of heart diseases. People should donate blood from time to time in order to reduce the iron level in the blood.</p>
              
            </div>
          </div>
          <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
            <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-white-100 text-indigo-500 mb-5 flex-shrink-0">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaRQT-Gg0IhiqBBWhMkwLNxFd4CsKxsBpk7Q&usqp=CAU" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              </img>
            </div>
            <div class="flex-grow">
              <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Burns calories</h2>
              <p class="leading-relaxed text-base">Donating blood can burn approximately 650 calories for each pint that is like 450 ml of blood. However, blood donation should not be thought of as a weight loss plan - just a little extra motivation to give.</p>
  
            </div>
          </div>
        </div>
        <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg"><a href="donor.html">Donate</a></button>
      </div>
    </section>

     <!-- HR section -->
     <div class="flex mt-6 justify-center">
      <div class="w-48 h-1 rounded-full bg-red-500 inline-flex"></div>
    </div>

    <!-- Footer section -->
    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <img src="https://iconarchive.com/download/i62983/dapino/medical/blood-drop.ico" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-white-500 rounded-full" viewBox="0 0 24 24">
              
          </img>
            <span class="ml-3 text-xl">Blood Bank</span>
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2021 Blood Bank —
            <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@Thread_Ripper</a>
          </p>
        
        </div>
    </footer>

</body>
</html>